/* styling for container in category */

  /* Layout for sidebar and content */
  .category-container {
    display: flex;
    justify-content: space-between; /* Distribute space between sidebar and content */
    background-color: #ffffff; /* White background for the inner layout */
    border-radius: 8px;
    overflow: hidden; /* To ensure rounded corners show properly */
  }
  
  /* Sidebar styling */
  .side-nav {
    width: 250px;
    background-color: #BEA286; /* dark background for the sidebar */
    padding: 20px;
  }
  
  .side-nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  .side-nav ul li {
    margin: 15px 0;
  }
  
  .side-nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-family: cursive;
  }
  
  .side-nav ul li a:hover {
    background-color: #886644; /* darker bg for hover effect */
  }
  
  /* Main content styling */
  .category-content {
    flex-grow: 1;
    height: 700px;
    padding: 20px;
    background-color: #f1f8e9; /*  background for content area */
    border-left: 2px solid #886644; /* Border to separate sidebar from content */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the content */
    align-items: center; /* Horizontally center the content */
    text-align: center;
  }
  
  .category-content h1 {
    margin-bottom: 20px;
    color: #886644; /* Teal color for the heading */
  }
  
  .category-content p {
    color: black; /* Darker for paragraph */
    font-size: 1.2em;
  }
  
  /* Card styling */
  
  .category-content .card {
    margin: 20px 0;
    border: 1px solid #886644;
    width: 300px;
  }
  
  .card-body {
    background-color: #f8f9fa;
    padding: 15px;
    text-align: center;
  }
  
  .card-title {
    color: #491708;
  }
  
  .card-text {
    font-size: 1.1em;
    margin-bottom: 15px;
  }
  
  .btn-primary {
    background-color: #491708;
    border-color: #491708;
  }

  .card-img-top {
    width: 290px;
    height: 290px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 10%;
  }
  
  